.principal{
    width: 1024px;
    margin: auto;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.img{
    background-image: url(../topo.jpg);
    background-position: center bottom;
    background-size: cover;
    
    height: 500px;
    border: 1px solid transparent;
    
}

.menu{
    background: rgb(65, 62, 62);
    height: 50px;
    position: relative;
    
}

.menu img{
    margin: 10px 40px;
}

.menu nav ul{
    text-align: right;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 10px;
}

.menu nav li{
    display: inline-block;
    list-style: none;
    border: 1px solid white;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.39);
    margin: 10px 10px 0 10px;
    padding: 7px;
    transition: color 0.3s linear;
    
}

.menu nav a{
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: color 0.3s linear;
}

.menu nav a:hover{
    color: wheat;
    
}

.menu nav li:hover{
    background: rgb(70, 15, 70);
    border: 1px solid wheat;
}

main h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 35px;
    font-size: 2.5em;
}

main p{
    text-indent: 15px;
    margin-bottom: 35px;
}

.imgs{
    color: #555;
    padding: 0 100px 50px 100px;
    overflow: auto;
}

.modelos{
    width: 32%;
    float: left;
    text-align: center;
}

article{
    background-image: url(../bg_detalhe.png);
    height: 500px;
    background-size: cover;
    background-position: right bottom;
    padding: 100px;
}

article h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    margin-bottom: 40px;
}

article p{
    text-align: left;
    margin: 20px;
    line-height: 1.5;
}

section address{
    text-align: center;
    margin: 35px;
}

iframe{
    width: 100%;
}

footer{
    margin-top: 20px;
}

footer p{
    text-align: center;
    font-size: 0.8em;
    color: wheat;
    background: rgb(65, 63, 63);
    padding: 15px;
}


